.cont {
    color: #333;
    height: 70vh;
    width: 60%;
    font-weight:lighter;
    margin-left: 4%;
}

.invite {
    position: absolute;
    bottom:8vh;
}

.invite > table td {
    padding: 0 1vw;
}

.invite-btn {
    background-color: transparent!important;
    box-shadow: none;
    margin-left: 35vw;
    margin-bottom: 10vh;
    width: 14vw;
    height: 9vh;
}

.invite-btn:hover {
    background: #272a74!important;
}