#chatbox {
    position: fixed;
    bottom: 0%;
    right: 1%;
    background-color: #fff;
    z-index: 1;
}

#box {
    overflow-y: auto;
    height: 400px;
    width: 400px;
    padding: 10px;
}

#dash {
    padding: 5px;
}

#bar {
    justify-content: left;
    padding: 5px;
    width: 400px;
    height: 40px;
    border-radius: 10px 10px 0px 0px;
    background-color: midnightblue;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

#bar > span {
    float: right;
    padding-right: 5px;
}

#chat-body {
    display: none;
    border: 0.5px solid midnightblue;
}