.signup-switch {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.signup-body {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}